<h1>the article number <%= @article.id %></h1>

<div>
  <h1><%= @article.title %></h1>
  <h1><%= @article.content %></h1>

  <h1>---</h1>
  <%#= link_to "Modify the article", new_task_path%>
  <%#= link_to "Delete the article", new_task_path%>
</div>
